body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-azulPrimario {
  background-color: #003A8C;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 32px;
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 1/1.2;
  overflow: hidden;
}

.card-img-top {
  object-fit: cover;
  height: 100%;
  
}


.painel-container {
  min-height: calc(100vh - 60px); 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  margin-top: 0;
  padding-left: 250px;
}