:root {
  --brand-900: #0e2233;
  --brand-700: #1b3b5a;
  --brand-500: #003A8C;   /* primária */
  --brand-300: #8fb6e8;
  --brand-100: #e7f0fb;

  --accent-500: #ffb703;   /* destaque */
  --success-500: #2ea44f;
  --warning-500: #f59f00;
  --danger-500: #d6336c;

  --text-900: #0b1720;
  --text-700: #2e3a46;
  --muted-500: #6c757d;
  --bg-100: #f7f9fc;
  --white: #ffffff;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-azulPrimario { background-color: var(--brand-500) !important; }

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 32px;
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}

.card { aspect-ratio: 1/1.2; overflow: hidden; }

.card-img-top { object-fit: cover; height: 100%; }


.painel-container {
  min-height: calc(100vh - 60px); 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  margin-top: 0;
  padding-left: 250px;
}