html,
body {
  height: 100%;
}

/* imagem do body na pagina */
body.login-background {
  background-image: url(/IMG/blur_panoramica_muriaé.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* altera a cor do botão checkbox do tipo switch */
.form-check-input:checked {
  background-color: #003A8C;
  border-color: #003A8C;
}

/* customização do botão de submit no formulario de login */
.btn-custom {
  background-color: #0071CE;
  color: #ffffff;

}

.btn-custom:hover {
  background-color: #003A8C;
  color: #ffffff;
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.bg-form-login {
  background-color: #d4d2d2 !important;
  border-radius: 0.75rem !important;
  box-shadow: 0, 125rem, 25rem rgba(0, 0, 0, 0.075) !important;
}

.fs-7 {
  font-size: 0.75rem !important;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}