# ***** 
# .editorconfig: define charset, quebra de linha, 
# tamanho e estilo de  indentação para todo o projeto.
# *****


root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.php]
indent_size = 2

[*.{js,jsx,ts,tsx,json,css,html}]
indent_size = 2
